<section id="main-content" class="wrapper">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <table>
          <thead>
          <tr>
            <th colspan="6" class="text-center">Edit admin</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="3">Ім'я</td>
            <td colspan="3">
              <input type="text" class="registr-new-test-nameof-inp" name="name-of-test" ng-model="admins.currentObj.username"></td>
          </tr>

          <tr>
            <td colspan="3">email</td>
            <td colspan="3">
              <input type="text" class="registr-new-test-nameof-inp" name="name-of-test" ng-model="admins.currentObj.email"></td>
          </tr>

          <tr>
            <td colspan="3">Пароль</td>
            <td colspan="3">
              <input type="text" class="registr-new-test-inpts" name="name-of-test" ng-model="admins.password"></td>
          </tr>

          <tr>
            <td colspan="3">Підтвердження пароля</td>
            <td colspan="3">
              <input type="text" class="registr-new-test-inpts" name="name-of-test ng-model="admins.password1></td>
            </td>
          </tr>

          <tr>
            <td colspan="3"><button class="add-new-test-registr-btn">Скасувати</button></td>
            <td colspan="3">
              <button class="add-new-test-registr-btn">Зареєструвати</button>
            </td>
          </tr>

          </tbody>
        </table>
        <form>
    </div>
  </div>
</section>
