<section id="main-content" class="wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">

                    <table>
                        <thead>
                        <tr>
                            <th colspan="4">Адміністратори</th>
                            <th><a ui-sref="admin-create">Додати нового адміністратора</a></th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th colspan="2" class="text-center">Управління</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="admin in admins.list">
                            <td>{{admin.id}}</td>
                            <td>{{admin.username}}</td>
                            <td>{{admin.email}}</td>
                            <td><button ng-click = "admins.edit(admin)" >Редагувати</button></td>
                            <td><button ng-click = "admins.remove(admin.id)" >Видалити</button></td>
                            <!--<td><button ng-click = "admins.remove(admin.id)" colspan="2">Видалити</button></td>-->
                        </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>

        <div class="col-xs-12 edit-admin-wrapper" ng-if = "admins.show">
            <form>
                <table>
                    <thead>
                    <tr>
                        <th colspan="6" class="text-center">Edit admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3">Ім'я</td>
                        <td colspan="3">
                            <input type="text" class="registr-new-test-nameof-inp" name="name-of-test" ng-model="admins.currentObj.username"></td>
                    </tr>

                    <tr>
                        <td colspan="3">email</td>
                        <td colspan="3">
                            <input type="text" class="registr-new-test-nameof-inp" name="name-of-test" ng-model="admins.currentObj.email"></td>
                    </tr>

                    <tr>
                        <td colspan="3">Пароль</td>
                        <td colspan="3">
                            <input type="text" class="registr-new-test-inpts" name="name-of-test" ng-model="admins.password"></td>
                    </tr>

                    <tr>
                        <td colspan="3">Підтвердження пароля</td>
                        <td colspan="3">
                            <input type="text" class="registr-new-test-inpts" name="name-of-test" ng-model="admins.password1"></td>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"><button class="add-new-test-registr-btn">Скасувати</button></td>
                        <td colspan="3">
                            <button class="add-new-test-registr-btn" ng-click="admins.update()">Зареєструвати</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <form>
        </div>
    </section>
