<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-danger" ui-sref="admin-home.subject">
                    <i class="glyphicon glyphicon-share-alt">&nbsp;Назад</i>
                </button>
                <table>
                    <thead>
                    <tr>
                        <th colspan="6" class="text-center">Додай новий предмет</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3">Назва предмету</td>
                        <td colspan="3">
                            <input type="text" class="registr-new-test-nameof-inp"
                                   required  name="name-of-test" ng-model="subjects.subject.subject_name">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">Опис предмету</td>
                        <td colspan="3">
                            <input type="text" class="registr-new-test-nameof-inp"
                                   required name="name-of-test" ng-model="subjects.subject.subject_description">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="3">
                            <button class="add-new-test-registr-btn" ng-click="subjects.addSubject()">Додати предмет</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </section>
</section>